defaults:
  - env_vars: env_vars 
  - _self_

vqvae_model:
  _target_: vqvae.VqVae
  input_dim_h: 16
  input_dim_w: 14 
  n_latent_dims: 512
  vqvae_n_embed: 16
  vqvae_groups: 2
  eval: false
  device: cuda

seed: 42
batch_size: 128
epochs: 10
action_window_size: 16 # T_action

wandb:
  project: "vq-bet-policy"
  entity: ${env_vars.wandb_entity}

device: cuda
optim:
  lr: 3.0e-4
  weight_decay: 0.01
  betas: [0.9, 0.999]

env:
  obs_dim: 512
  act_dim: 14

save_every: 20
save_path: "${env_vars.save_path}/checkpoints/vqbet_aloha_insertion/${now:%Y-%m-%d}/${now:%H-%M-%S}"

transforms_list:
  - _target_: torchvision.transforms.Resize 
    size: [224, 224] 
  - _target_: torchvision.transforms.RandomCrop 
    size: [224, 224] 
  - _target_: torchvision.transforms.Normalize
    mean: [0.485, 0.456, 0.406]
    std: [0.229, 0.224, 0.225]


data:
  _target_: dataset.get_lerobot_train_val
  repo_id: ${env_vars.datasets.aloha_insertion_dataset}
  window_size: 16
  action_window_size: ${action_window_size}
  visual_input: true
  transform_list: ${transforms_list}

model:
  _target_: vq_behavior_transformer.VQBehaviorTransformer
  
  action_dim: ${env.act_dim}
  obs_dim: ${env.obs_dim}
  n_action_codes: 256
  action_chunk_size: ${action_window_size}

  d_model: 512
  n_heads: 8
  d_ff: 2048
  n_layers: 4
  dropout: 0.1
  visual_input: true
  finetune_resnet: false
  vqvae_checkpoint_path: /path/to/your/actual/vqvae/checkpoint_final.pt

training:
  log_freq: 50
  scheduler: cosine_annealing
  gradient_clip: 1.0

loss:
  _target_: torch.nn.CrossEntropyLoss
